
button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: aliceblue;
  padding-left:30px ;
  height: 50px;
  margin:0px;
}


.invisible{
  display:none;
  
}



.page{
  
  margin: 0px;
  padding: 0px;
  border:0px;
  background-color: darkcyan;
  height:100vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 0px;
  margin: 0px;
}


p{
  margin:0px;
  padding:0px;
  border:0px;
}