/* makes it invisible */
.invisible{
  display:none;
  
}

/* 
styling for each Display hook which is a page */
.page{
  margin: 0px;
  padding: 0px;
  border:0px;
  background-color: darkcyan;
  height:100vh;
}


